<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/stylesheed" path="">
  </script>
  <title>Login</title>
</head>
<body>

  <style>

    row{
      height: 200px;
      background-color: aqua;
      padding: 10px;
      width: 100%;
    }

    card{
      background-color: blue;
      color: red;

    }
    p{color: red;
    
    font-size: large;
  float: left;
  margin: auto;
  padding:50px;
  }

    </style>
  <div class="row">

    <div class="card">
      <div class="col-lg-6">Welcome</div>
      <p>
       Login
      </p>
    </div>


<div class="card login ">
    <div class="card titile">
Enter Details Below

    </div>

    <div class="card content">

      <div class="login_form">

        <form action="/login" method="post">

          <label>Username</label>
          <input type="text" placeholder="Enter Your Name" id="username" clas="input text"/>




          <label>Password</label>
          <input type="password" placeholder="*********" id="password" class="password field"/>



          <button type="submit">Submit</button>


        </form>


      </div>




    </div>




</div>

  </div>
</body>
</html>